html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
    font-size: 2rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

/* Welcome row */

#game-container {
    height: 100vh;
}

#welcome-header {
    font-size: 5rem;
}


#welcome-row {
    height: 100vh;
}


/* input row */


sadf


/* question-row*/

#question-row {
    height: 50vh;
}

#answer-buttons {
    height: 50vh;
}

#question-text {
    font-size: 5rem;
    padding: 50px;
}

.answers-grid {
    padding: 20px;
}


/*Buttons*/


.button {
    background-color: #FF7F11;
    border-radius: 5px;
    border: 1px solid #FF8011C5;
    padding: 30px 50px;
    font-size: 2.3rem;
    color: #000;
}


.button:hover {
    background-color: #ff8011c5;
}

.button:focus {
    outline: none;
}

.button-correct {
    background-color: #2fbf71;
}

.button-wrong {
    background-color: #EF2D56;
}


.hide {
    display: none;
}