html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
    font-size: 2rem;
}


/* Game container */


#welcome-header {
    font-size: 5rem;
}


#game-container {
    height: 100vh;
}

#game-row {
    height: 100vh;
}