@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #fafafa;
    font-size: 1.6rem;
}

.body-dark {
    background-color: #03120e;
    color: #fcf7ff;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

.container-height {
    height: 100vh;
}



/* themeToggleButton*/

#darkThemeChanger, #lightThemeChanger {
    margin-top: 20px;
    font-size: 1.6rem;
    padding: 0.7rem;
}

 
.togglepadding {
    padding: 0;
}





/* question */

#question {
    margin-top: 50px;
}


#question-text {
    font-size: 5rem;
    padding: 5rem;
}

.grid {
    padding: 2rem;
}


/* Buttons */


.gamebutton {
    background-color: #FF7F11;
    border-radius: 5px;
    border: 1px solid #FF8011C5;
    padding: 3rem 5rem;
    font-size: 2.3rem;
    color: #000;
}

.button-dark {
    background-color: #f49e4c;
    border: 1px solid #e69245;
}

.gamebutton:hover {
    box-shadow: 5px 10px 18px #252525;
}

.gamebutton:focus {
    outline: none;
}

.button-correct {
    background-color: #2fbf71;
    border-color: #2fbf71;
}


.button-wrong {
    background-color: #EF2D56;
    border-color: #EF2D56;
}



/* Hide */


.hide {
    display: none;
}

/* @Media queries*/



@media only screen and (min-width: 767px) {
    h1 {
       font-size: 7rem; 
    }

    h3 {
        font-size: 4.5rem;
    }

    #question {
        padding-top: 12rem;
    }  

    .button {
        font-size: 3rem;
    }
}


@media only screen and (min-width: 990px) {
    #question {
        padding-top: 0;
    }
}